{#
/**
 * @file
 * LB Event Info implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="date">
      <div class="label">{{ 'Date and Time'|t }}</div>
      <div class="date-info">
        <span aria-hidden="true">{% include('@ws_event/assets/svg/calendar_today.svg') %}</span>
        {{ content['#smart_date'] }}
      </div>
      {% if content['#recur_header'] is not empty %}
        <div class="date-recur-section">
          <a class="date-recur-header" data-toggle="collapse" href="#date-recur-detail">
            <span aria-hidden="true" class="icon-recur">{% include('@ws_event/assets/svg/arrow_recur.svg') %}</span>
            {{ content['#recur_header'] }}
            <span aria-hidden="true" class="icon-expand">{% include('@ws_event/assets/svg/add_circle.svg') %}</span>
          </a>
          <div class="collapse" id="date-recur-detail">{{ content['#smart_date_recur'] }}</div>
        </div>
      {% endif %}
    </div>
    <div class="location">
      <div class="label">{{ 'Location'|t }}</div>
        <div class="location-list">
          {% if content['#locations'] %}
            {% for location in content['#locations'] %}
              <div class="location-info">
                <span aria-hidden="true" class="location-label">{% include('@ws_event/assets/svg/location.svg') %}</span>
                {% if location['#location_link'] %}
                  <div class="location-link">
                    {{ location['#location_link'] }}
                  </div>
                {% endif %}
                {% if location['#location_address'] %}
                  <div class="location-address">{{ location['#location_address'] }}</div>
                {% endif %}
                {% if location['#location_directions'] %}
                  <div class="location-directions">
                    {{ location['#location_directions'] }}
                    <span aria-hidden="true">{% include('@ws_event/assets/svg/arrow_outward.svg') %}</span>
                  </div>
                {% endif %}
              </div>
              {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
